block header

	header.site-header
		a.logo(href="#")
			img(src="img/logo.png", alt="")
		nav.menu-wrapper
			a.toggle-menu.cf(href="#")
				span
				span
				span
			.menu__inner
				ul.menu
					li
						a(href="#") Home
					li
						a(href="#") Scouting Report
					li
						a(href="#") Calling the shots
					li
						a(href="#") The Starting Line