extends _layout
block content
	main.main-content
		.fullpage-helper
			section.first.section#first(data-anchor="first")
				.container
					h2.section-title
						span.first-part It's
						span.second-part not
						span.third-part a slam dunk
					p.section-subtitle Every successful athlete needs a support system
					a.btn.btn-small(href="#") Find yours here
			section.second.section#second(data-anchor="second")
			section.third.section#third(data-anchor="third")



block inlineScripts